[submodule "openms-streamlit-template"]
	path = openms-streamlit-template
	url = https://github.com/OpenMS/streamlit-template.git
[submodule "umetaflow-gui"]
	path = umetaflow-gui
	url = https://github.com/axelwalter/umetaflow-gui.git
