[submodule "openms-streamlit-template"]
	path = openms-streamlit-template
	url = https://github.com/OpenMS/streamlit-template.git
[submodule "umetaflow-gui"]
	path = umetaflow-gui
	url = https://github.com/axelwalter/umetaflow-gui.git
[submodule "nuxl-app"]
	path = nuxl-app
	url = https://github.com/Arslan-Siraj/nuxl-app
[submodule "FLASHViewer"]
	path = FLASHViewer
	url = https://github.com/t0mdavid-m/FLASHViewer
	branch = TaggerViewerDeploy
[submodule "naseweis"]
	path = naseweis
	url = https://github.com/poshul/nase-weis
[submodule "PTMScanner"]
	path = PTMScanner
	url = https://github.com/OpenMS/PTMScanner.git
[submodule "StreamSage"]
	path = StreamSage
	url = https://github.com/singjc/StreamSage.git
[submodule "peakstorm"]
	path = peakstorm
	url = https://github.com/t0mdavid-m/PeakStorm.git
[submodule "mzcalculator"]
	path = mzcalculator
	url = https://github.com/OpenMS/mz-calculator.git
[submodule "toppview-lite"]
	path = toppview-lite
	url = https://github.com/t0mdavid-m/TOPPView-Lite.git
[submodule "mhcquant"]
	path = mhcquant
	url = https://github.com/jonasscheid/openms-streamlit-template.git
[submodule "quantms"]
	path = quantms
	url = https://github.com/OpenMS/quantms-web.git
